@use './variables';

.banner {
    width: 100%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../beach-final-images/banner-image.jpg);
    
}