@use '../variables';

.contact__header {
    background-image: url(../beach-final-images/contact-image-1.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 450px;

    .contact__header__nav {
        display: flex;
        .contact__title__container {
            .contact__header__title {
                color: $turquoise;
                font-family: $play;
                font-size: 25px;
                margin-top: 30px;
                margin-left: 50px;
            }
        }
        ul {
            display: flex;
            margin-left: auto;
            margin-right: 60px;
            margin-top: 40px;
            li {
                list-style: none;
                font-family: $lato;
                margin-right: 30px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: bold;
                letter-spacing: 1px;
                a {
                    text-decoration: none;
                    color: $white;
                }
                a:hover, a:focus {
                    color: $turquoise;
                }
            }
        }
    }
    h1 {
        color: $white;
        font-family: $lato;
        font-size: 80px;
        letter-spacing: 9px;
        margin-left: 130px;
        margin-top: 150px;
    }
}    

