@use '../variables.scss';


.openMenu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: $lightBlue;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    z-index: 20;
}

.openMenu.active {
    left: 0;
}

.menu--item a {
    color: blue;
    transition: none;
    padding: 20px;
    &:hover {
        color: red;
    }
}

header {
    .header__nav {
        .menu--links {
            display: block;
            margin-top: 10px;
            li {
                padding: 30px;
                margin: 0;
                a {
                color: $navy;
                }
            }
        }
        .hamburger__btn__container {
            margin-top: 15px;
            .hamburger__icon--button {
                width: 40px;
                background: transparent;
                border: none;
                i {
                    font-size: 30px;
                    color: $turquoise;
                }
            }
        }
    }
}


