@use '../variables';

.info__section {
    background-color: $white;
    padding: 80px 0;
    .info__section__container {
        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            list-style: none;
            padding: 0;
            li {
                width: 50%;
            }
        }
    }
}

.icon--flex {
    display: flex;
    .info--icon {
        background-color: $turquoise;
        padding: 11px;
        border-radius: 100%;
        width: 2.5rem;
        height: 2.5rem;
        margin-right: 20px;
        margin-top: 25px;
        i {
            color: $white;
        }
    }
    .item--text {
        h3 {
            color: $green;
            font-family: $lato;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 1.6px;
        }
        p {
            font-weight: 400;
        }
    }
}