html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: url(../beach-final-images/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}
header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .header__nav .header__title__container .header__title {
  color: #50E3C2;
  font-family: "Playfair Display SC", serif;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 50px;
}
header .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 40px;
}
header .header__nav ul li {
  list-style: none;
  font-family: "Lato", sans-serif;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
header .header__nav ul li a {
  text-decoration: none;
  color: #FAFFFE;
}
header .header__nav ul li a:hover, header .header__nav ul li a:focus {
  color: #50E3C2;
}

.header__h1 h1 {
  font-size: 47px;
  width: 30%;
  color: #0c5f4c;
  z-index: 10;
  font-family: "Lato", sans-serif;
  position: absolute;
  top: 37%;
  left: 38%;
  letter-spacing: 6.7px;
}

span {
  font-size: 6rem;
  text-transform: uppercase;
  color: #063974;
  font-family: "Playfair Display SC", serif;
}

.header__image-container {
  margin-top: 170px;
  width: 43%;
}
.header__image-container img {
  max-width: 100%;
  max-height: 100%;
}

.wrapper {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

p {
  letter-spacing: 2px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  color: #2C2C2C;
}

.findOut, .readMore {
  background-color: #063974;
  color: #FAFFFE;
  text-decoration: none;
  font-family: "Playfair Display SC", serif;
  letter-spacing: 1px;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

.visit__section {
  background-color: #FAFFFE;
  margin-bottom: 70px;
}
.visit__section .visit__section__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
}
.visit__section .visit__section__content .visit__section__text h3 {
  color: #0c5f4c;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 3px;
}
.visit__section .visit__section__content .visit__section__text p {
  font-family: "Lato", sans-serif;
  line-height: 30px;
  margin-bottom: 30px;
}
.visit__section .visit__section__content .visit__section__image {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
  margin-left: 10%;
  margin-top: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.image__gallery {
  background-color: #D2F9F1;
}
.image__gallery .image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3%;
  padding: 80px 0;
}
.image__gallery .image__container img {
  width: 32%;
}

.info__section {
  background-color: #FAFFFE;
  padding: 80px 0;
}
.info__section .info__section__container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  list-style: none;
  padding: 0;
}
.info__section .info__section__container ul li {
  width: 50%;
}

.icon--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.icon--flex .info--icon {
  background-color: #50E3C2;
  padding: 11px;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 20px;
  margin-top: 25px;
}
.icon--flex .info--icon i {
  color: #FAFFFE;
}
.icon--flex .item--text h3 {
  color: #0c5f4c;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 1.6px;
}
.icon--flex .item--text p {
  font-weight: 400;
}

.readMore__section {
  background-color: #D2F9F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.readMore__section .leftColumn {
  width: 44%;
}
.readMore__section .leftColumn img {
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  margin-top: -30px;
  width: 95%;
  margin-bottom: 40px;
}
.readMore__section .leftColumn .locations__text-container {
  width: 80%;
  margin-left: 20%;
}
.readMore__section .leftColumn .locations__text-container h4 {
  color: #063974;
  font-size: 35px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  text-align: right;
  margin-bottom: 20px;
}
.readMore__section .leftColumn .locations__text-container p {
  text-align: right;
  line-height: 30px;
  padding-bottom: 20px;
}
.readMore__section .leftColumn .locations__text-container .readMore {
  float: right;
}
.readMore__section .rightColumn {
  width: 44%;
}
.readMore__section .rightColumn img {
  -webkit-box-shadow: -20px 20px #50E3C2;
          box-shadow: -20px 20px #50E3C2;
  margin-top: 80px;
  margin-bottom: -45px;
  width: 100%;
}
.readMore__section .rightColumn .plan__text-container {
  width: 80%;
  margin-right: 20%;
}
.readMore__section .rightColumn .plan__text-container h4 {
  color: #063974;
  font-size: 35px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 80px;
}
.readMore__section .rightColumn .plan__text-container p {
  line-height: 30px;
  padding-bottom: 20px;
}

.banner {
  width: 100%;
  height: 32vw;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../beach-final-images/banner-image.jpg);
}

.free h5 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 3px;
  color: #0c5f4c;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 20px;
}
.free p {
  text-align: center;
  margin: 0 auto;
  line-height: 30px;
  width: 80%;
  margin-bottom: 30px;
}
.free .linkBox {
  text-align: center;
  margin-bottom: 200px;
}

footer {
  background-color: #2C2C2C;
}
footer p {
  color: #FAFFFE;
  padding: 10px 0;
  margin: 0;
  text-align: center;
}

.blog__header {
  background-image: url(../beach-final-images/blog-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 505px;
}
.blog__header .blog__header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog__header .blog__header__nav .blog__title__container .blog__header__title {
  color: #50E3C2;
  font-family: "Playfair Display SC", serif;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 50px;
}
.blog__header .blog__header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 40px;
}
.blog__header .blog__header__nav ul li {
  list-style: none;
  font-family: "Lato", sans-serif;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.blog__header .blog__header__nav ul li a {
  text-decoration: none;
  color: #FAFFFE;
}
.blog__header .blog__header__nav ul li a:hover, .blog__header .blog__header__nav ul li a:focus {
  color: #50E3C2;
}
.blog__header h1 {
  color: #FAFFFE;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  letter-spacing: 9px;
  margin-left: 150px;
  margin-top: 160px;
}

.blog__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.blog__section .blog--left {
  width: 63%;
  margin-top: -10%;
}
.blog__section .blog--left .blog__image--left img {
  width: 100%;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
}
.blog__section .blog--left .blog--text {
  margin-right: -20px;
  border-right: 5px solid #50E3C2;
  border-bottom: 5px solid #50E3C2;
  padding-left: 15%;
  padding-top: 8%;
  padding-right: 8%;
  padding-bottom: 3%;
}
.blog__section .blog--left .blog--text h2 {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 35px;
  letter-spacing: 3px;
  color: #0c5f4c;
  margin-bottom: 20px;
}
.blog__section .blog--left .blog--text h3 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  color: #063974;
  margin-bottom: 40px;
}
.blog__section .blog--left .blog--text span {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-transform: capitalize;
}
.blog__section .blog--left .blog--text p {
  line-height: 33px;
}
.blog__section .blog--right {
  width: 25%;
  margin-top: 100px;
}
.blog__section .blog--right .blog__image--right img {
  width: 100%;
}
.blog__section .blog--right--mission h5 {
  font-family: "Lato", sans-serif;
  color: #063974;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.8px;
  margin: 20px 0;
}
.blog__section .blog--right--mission p {
  line-height: 33px;
}
.blog__section .blog--right--mission a {
  text-decoration: none;
  color: #0c5f4c;
  font-weight: bold;
}
.blog__section .blog--right--mission a:hover, .blog__section .blog--right--mission a:focus {
  font-size: 25px;
}
.blog__section .blog--right--recent h5 {
  font-family: "Lato", sans-serif;
  color: #063974;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1.8px;
  margin: 20px 0;
}
.blog__section .blog--right--recent ul {
  color: #50E3C2;
  padding-left: 20px;
}
.blog__section .blog--right--recent ul li span {
  font-size: 20px;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  color: #2C2C2C;
  line-height: 33px;
  font-weight: 400;
  letter-spacing: 1.8px;
}

.blog__comment__section h4 {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  letter-spacing: 1.5px;
  margin-left: 130px;
}
.blog__comment__section .comment__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  margin-left: 130px;
}
.blog__comment__section .comment__box .comment__image {
  margin-top: 25px;
}
.blog__comment__section .comment__box .comment__text h6 {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  text-transform: capitalize;
  color: #063974;
  letter-spacing: 2px;
  margin: 20px;
}
.blog__comment__section .comment__box .comment__text p {
  line-height: 33px;
  margin-left: 20px;
}
.blog__comment__section .comment__form__container .comment__form .message__container .message__input textarea {
  width: 736px;
}

.comment__form__container .comment__form {
  margin-top: 40px;
  margin-left: 130px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.comment__form__container .comment__form .form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.comment__form__container .comment__form .form__flex .name__input input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  margin-right: 33px;
  padding: 20px 20px;
  width: 350px;
}
.comment__form__container .comment__form .form__flex .name__input input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .name__input input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .name__input input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .name__input input::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .name__input input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .email__input input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 20px 20px;
  width: 350px;
}
.comment__form__container .comment__form .form__flex .email__input input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .email__input input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .email__input input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .email__input input::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__flex .email__input input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.comment__form__container .comment__form .form__button--submit {
  background-color: #063974;
  border: none;
  color: #FAFFFE;
  padding: 10px 0;
  width: 58%;
  margin-top: 30px;
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 100px;
}

textarea {
  border: 2px solid #50E3C2;
  font-weight: 300;
  font-size: 20px;
  width: 58%;
  height: 17vh;
  padding: 35px 20px;
}

.contact__header {
  background-image: url(../beach-final-images/contact-image-1.jpg);
  background-repeat: no-repeat;
  width: 100%;
  background-size: cover;
  height: 450px;
}
.contact__header .contact__header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact__header .contact__header__nav .contact__title__container .contact__header__title {
  color: #50E3C2;
  font-family: "Playfair Display SC", serif;
  font-size: 25px;
  margin-top: 30px;
  margin-left: 50px;
}
.contact__header .contact__header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: 60px;
  margin-top: 40px;
}
.contact__header .contact__header__nav ul li {
  list-style: none;
  font-family: "Lato", sans-serif;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
}
.contact__header .contact__header__nav ul li a {
  text-decoration: none;
  color: #FAFFFE;
}
.contact__header .contact__header__nav ul li a:hover, .contact__header .contact__header__nav ul li a:focus {
  color: #50E3C2;
}
.contact__header h1 {
  color: #FAFFFE;
  font-family: "Lato", sans-serif;
  font-size: 80px;
  letter-spacing: 9px;
  margin-left: 130px;
  margin-top: 150px;
}

.contact--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact--flex .contact__form {
  margin-left: 70px;
  font-size: 25px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  background-color: #FAFFFE;
  margin-top: -100px;
  padding: 40px 50px;
  -webkit-box-shadow: 20px 20px #50E3C2;
          box-shadow: 20px 20px #50E3C2;
  margin-bottom: 100px;
}
.contact--flex .contact__form .form__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.contact--flex .contact__form .form__flex .name__input input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  margin-right: 33px;
  padding: 20px 20px;
  width: 350px;
}
.contact--flex .contact__form .form__flex .name__input input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .name__input input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .name__input input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .name__input input::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .name__input input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .email__input input {
  border: none;
  border-bottom: 2px solid #50E3C2;
  padding: 20px 20px;
  width: 350px;
}
.contact--flex .contact__form .form__flex .email__input input::-webkit-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .email__input input::-moz-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .email__input input:-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .email__input input::-ms-input-placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__flex .email__input input::placeholder {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
}
.contact--flex .contact__form .form__button--submit {
  background-color: #063974;
  border: none;
  color: #FAFFFE;
  padding: 10px 0;
  width: 100%;
  margin-top: 30px;
  font-family: "Playfair Display SC", serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 20px;
}
.contact--flex textarea {
  border: 2px solid #50E3C2;
  font-weight: 300;
  font-size: 20px;
  width: 100%;
  height: 22vh;
  padding: 35px 20px;
}
.contact--flex .contact__info-container nav {
  padding-left: 70px;
}
.contact--flex .contact__info-container nav .contact--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.contact--flex .contact__info-container nav .contact--socials li {
  list-style: none;
  padding-right: 20px;
  margin-top: 90px;
  font-size: 20px;
}
.contact--flex .contact__info-container nav .contact--socials li a {
  color: #2C2C2C;
}
.contact--flex .contact__info-container nav .contact--info .contact--email {
  font-family: "Lato", sans-serif;
  list-style: none;
  font-weight: 400;
  font-size: 20px;
  padding: 10px 0;
}
.contact--flex .contact__info-container nav .contact--info li {
  list-style: none;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 25px;
}

@media (max-width: 1200px) {
  .header__h1 h1 {
    font-size: 30px;
  }
  .header__h1 span {
    font-size: 3.7rem;
  }
}
@media (max-width: 800px) {
  .header__nav .header__title__container p {
    color: #50E3C2;
    font-family: "Playfair Display SC", serif;
    font-size: 15px !important;
    margin-top: 30px;
    margin-left: 50px;
  }
  .header__nav ul li {
    font-size: 10px !important;
  }
  .header__h1 h1 {
    top: 20%;
    left: 30%;
    font-size: 20px;
  }
  .header__h1 span {
    font-size: 2.5rem;
  }
  .header__image-container {
    margin-top: 95px;
    width: 35%;
  }
  .visit__section__content {
    display: block !important;
  }
  .visit__section__content .visit__section__image img {
    width: 70vw;
  }
  .visit__section__content .visit__section__text h3 {
    text-align: center;
  }
  .visit__section__content .visit__section__text p {
    font-size: 15px;
  }
  .visit__section__content .visit__section__text .linkBox {
    text-align: center;
  }
  .info__section__container ul {
    display: block !important;
  }
  .info__section__container ul li {
    width: 100% !important;
  }
  .readMore__section {
    display: block;
  }
  .readMore__section .leftColumn {
    width: 100%;
  }
  .readMore__section .leftColumn .locations__text-container {
    width: 68%;
    margin: 0 auto;
  }
  .readMore__section .rightColumn {
    width: 100%;
  }
  .readMore__section .rightColumn .plan__text-container {
    width: 68%;
    margin: 0 auto;
  }
  .readMore__section .rightColumn .plan__text-container h4 {
    margin-top: 140px;
  }
  .readMore__section .rightColumn img {
    width: 90%;
    margin-left: 77px;
    margin-bottom: auto;
  }
}
@media (min-width: 600px) {
  .hamburger__icon--button {
    display: none;
  }
}
@media (max-width: 600px) {
  .header__nav .nav-links {
    display: none !important;
  }
  .header__nav .header__title__container {
    margin: 0 auto;
  }
  .header__h1 h1 {
    font-size: 16px;
    top: 13%;
    left: 8%;
    width: 100%;
  }
  .header__h1 h1 span {
    font-size: 2rem;
  }
}
.openMenu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #D2F9F1;
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 20;
}

.openMenu.active {
  left: 0;
}

.menu--item a {
  color: blue;
  -webkit-transition: none;
  transition: none;
  padding: 20px;
}
.menu--item a:hover {
  color: red;
}

header .header__nav .menu--links {
  display: block;
  margin-top: 10px;
}
header .header__nav .menu--links li {
  padding: 30px;
  margin: 0;
}
header .header__nav .menu--links li a {
  color: #063974;
}
header .header__nav .hamburger__btn__container {
  margin-top: 15px;
}
header .header__nav .hamburger__btn__container .hamburger__icon--button {
  width: 40px;
  background: transparent;
  border: none;
}
header .header__nav .hamburger__btn__container .hamburger__icon--button i {
  font-size: 30px;
  color: #50E3C2;
}

@media (max-width: 1400px) {
  .comment__form__container .comment__form .form__button--submit {
    width: 736px;
  }
}
@media (max-width: 1000px) {
  .blog__section .blog--right {
    width: 32%;
  }
  .blog__section .blog--right p {
    font-size: 20px;
  }
  .blog__comment__section .comment__form__container .comment__form .form__flex .name__input input {
    width: 230px;
  }
  .blog__comment__section .comment__form__container .comment__form .form__flex .email__input input {
    width: 230px;
  }
  .blog__comment__section .comment__form__container .comment__form .message__container .message__input textarea {
    width: 500px;
  }
  .blog__comment__section .comment__form__container .comment__form .form__button--submit {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .blog__header__nav .blog__title__container p {
    color: #50E3C2;
    font-family: "Playfair Display SC", serif;
    font-size: 15px !important;
    margin-top: 30px;
    margin-left: 50px;
  }
  .blog__header__nav ul li {
    font-size: 10px !important;
  }
  .blog__section {
    display: block;
  }
  .blog__section .blog--right {
    width: 65%;
    margin-left: auto;
    border-left: 5px solid #50E3C2;
    border-bottom: 5px solid #50E3C2;
  }
  .blog__section .blog--right .blog__image--right img {
    -webkit-box-shadow: -20px -20px #50E3C2;
            box-shadow: -20px -20px #50E3C2;
  }
  .blog__section .blog--right .blog--right--mission {
    padding-left: 5%;
  }
  .blog__section .blog--right .blog--right--recent {
    padding-left: 5%;
  }
  .blog__comment__section .comment__box {
    width: 85%;
    margin: 0 10%;
    margin-bottom: 75px;
  }
}
@media (max-width: 750px) {
  .blog__comment__section .comment__form__container .comment__form {
    margin: 0 auto;
    width: 50%;
  }
  .blog__comment__section .comment__form__container .comment__form .message__container .message__input textarea {
    width: 350px;
  }
  .blog__comment__section .comment__form__container .comment__form .form__flex {
    display: block;
  }
  .blog__comment__section .comment__form__container .comment__form .form__flex .name__input input {
    width: 350px;
  }
  .blog__comment__section .comment__form__container .comment__form .form__flex .email__input input {
    width: 350px;
  }
  .blog__comment__section .comment__form__container .comment__form .form__button--submit {
    width: 350px;
  }
}
@media (min-width: 600px) {
  .hamburger__icon--button {
    display: none;
  }
}
@media (max-width: 600px) {
  .blog__header__nav .nav-links {
    display: none !important;
  }
  .blog__header__nav .blog__title__container {
    margin: 0 auto;
  }
  .blog__comment__section .comment__form__container .comment__form {
    margin: 0 auto;
    width: 85%;
  }
}
.blog__header .blog__header__nav .menu--links {
  display: block;
  margin-top: 10px;
}
.blog__header .blog__header__nav .menu--links li {
  padding: 30px;
  margin: 0;
}
.blog__header .blog__header__nav .menu--links li a {
  color: #063974;
}
.blog__header .blog__header__nav .hamburger__btn__container {
  margin-top: 15px;
}
.blog__header .blog__header__nav .hamburger__btn__container .hamburger__icon--button {
  width: 40px;
  background: transparent;
  border: none;
}
.blog__header .blog__header__nav .hamburger__btn__container .hamburger__icon--button i {
  font-size: 30px;
  color: #50E3C2;
}

@media (max-width: 1200px) {
  .contact__main .contact--flex {
    display: block;
  }
  .contact__main .contact--flex .contact__form {
    width: 836px;
  }
  .contact__main .contact--flex .contact__info-container nav {
    padding: 0;
    text-align: center;
  }
  .contact__main .contact--flex .contact__info-container nav .contact--socials {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 950px) {
  .contact__header .contact__h1 {
    margin-left: 75px;
  }
  .contact__main .contact--flex .contact__form {
    width: 600px;
    margin-left: 46px;
  }
  .contact__main .contact--flex .contact__form .form__flex .name__input input {
    width: 240px;
  }
  .contact__main .contact--flex .contact__form .form__flex .email__input input {
    width: 225px;
  }
}
@media (max-width: 800px) {
  .contact__header__nav .contact__title__container p {
    color: #50E3C2;
    font-family: "Playfair Display SC", serif;
    font-size: 15px !important;
    margin-top: 30px;
    margin-left: 50px;
  }
  .contact__header__nav ul li {
    font-size: 10px !important;
  }
}
@media (max-width: 700px) {
  .contact__header .contact__h1 {
    font-size: 50px;
  }
  .contact__main .contact--flex .contact__form {
    width: 80%;
  }
  .contact__main .contact--flex .contact__form .form__flex {
    display: block;
  }
  .contact__main .contact--flex .contact__form .form__flex .name__input input {
    width: 250px;
  }
  .contact__main .contact--flex .contact__form .form__flex .email__input input {
    width: 250px;
  }
}
@media (min-width: 600px) {
  .hamburger__icon--button {
    display: none;
  }
}
@media (max-width: 600px) {
  .contact__header__nav .nav-links {
    display: none !important;
  }
  .contact__header__nav .contact__title__container {
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  .contact__main .contact--flex .contact__form {
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-top: 150px;
    margin-left: 0;
  }
  .contact__main .contact--flex .contact__form .message__container .message__input textarea {
    width: 140%;
  }
}
.contact__header .contact__header__nav .menu--links {
  display: block;
  margin-top: 10px;
}
.contact__header .contact__header__nav .menu--links li {
  padding: 30px;
  margin: 0;
}
.contact__header .contact__header__nav .menu--links li a {
  color: #063974;
}
.contact__header .contact__header__nav .hamburger__btn__container {
  margin-top: 15px;
}
.contact__header .contact__header__nav .hamburger__btn__container .hamburger__icon--button {
  width: 40px;
  background: transparent;
  border: none;
}
.contact__header .contact__header__nav .hamburger__btn__container .hamburger__icon--button i {
  font-size: 30px;
  color: #50E3C2;
}